extends layout

block content
  div(class='container')
    h1 About this site
    p Welcome to my personal blog. Here I share my thoughts about things that interest me while also learning to create and maintain a site. Thanks for stopping by.
    div(class='row')
      div(class='col-md-2')
        image(src='images/logo.png', width='100%')
      div(class='col-md-10')
        p Aspiring software engineer from Indonesia. Likes Travian. Have 600+ of hours in Dota 2 and still noob. Country and rock music are the best. Scooter is not a motorcycle.