doctype html
html
  head
    title= title
    //- bootstrap 4.3.1 css
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
    //- link(rel='stylesheet', href='/stylesheets/style.css')
    //- wysiwyg editor
    link(rel="stylesheet", href="https://cdn.quilljs.com/1.2.6/quill.snow.css")
    
  body
    block navbar
    block content
  //- //- bootstrap 4.3.1 js bundle
  script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js")